# maven ignore
target/
*.jar
!.mvn/wrapper/*
*.war
*.zip
*.tar
*.tar.gz
*.versionsBackup
*.releaseBackup
release.properties
.flattened-pom.xml
#**/src/main/resources/public/

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
logs/
*.doc
*.log
*.cache
*.diff
*.patch
*.tmp


# system ignore
.DS_Store
Thumbs.db
